<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilities.APIExtentReports">
        </listener>
    </listeners>
    <test thread-count="5"
          name="APITest">
        <classes>
            <class name="TestCase.DataDrivenTest"/>
            <class name="TestCase.UserModuleTestcase"/>
        </classes>
    </test>
</suite>